<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--freemarker交给spring管理-->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!--模板所在的路径，实际开发中模板是不能让其他人访问的，所以为了安全模板放在WEB-INF目录下-->
        <property name="templateLoaderPath" value="/WEB-INF/ftl"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>